html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

#root {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../public/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
}

