.form__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;  
    grid-gap: 20px;
    padding-top: 15px;
}

@media (max-width: 767px) {
    .form__buttons {
        grid-template-columns: 1fr;
    }
}

.form__button {
    background-color: hsl(163, 6%, 60%);
    max-width: 250px;
    width: 200px;
    color: hsl(0, 0%, 10%);
    cursor: pointer;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(90, 86, 86);
    box-shadow: 1px 1px 10px rgb(32, 31, 31);
    transition: background 1s, transform 0.5s; 
}

.form__button:hover {
    background-color: hsl(163, 6%, 75%);
    transform: scale(1.08)
}